<h1><%=@course.name %> <br></h1>
<div class ="avgRating">
  Avg Rating: <span class="star-rating" data-score=<%= @avg_rating%></span>(<%=@avg_rating%>)
  </div>
<div class="jumbotron">
  <%= image_tag @course.photo.url(:large) %>
</div>

<div>
<div class="panel panel-default">
  <div class="panel-body">
    Course Information
  </div>
</div>
<%= @course.description %>
<br>
Course Address:<%= @course.address %><br>
City:<%= @course.city %><br>
State:<%= @course.state %><br>
Zip Code:<%= @course.zipcode %><br>
Phone: <%= @course.phone %><br>
Hole Count: <%= @course.hole_count %><br>
</div>

<div class="">
  <h1>Reviews</h1><br>
  <%= link_to "Write a Review", new_course_review_path(@course), class:"btn btn-primary" %><br>
  <% if @reviews.blank? %>
    <p>No reviews yet</p>
    <%else %>
    <table class="table table-striped table-hover reviewtable">
      <thead>
        <tr>
          <th class="col-mid-3"></th>
          <th class="col-mid-9"></th>
        </tr>
      </thead>
      <tbody>
        <%@reviews.each do |review| %>
        <tr>
          <td>
          <h5><%= "#{review.user.email}" %></h5>
        </td>
        <td id="reviewtable">
          <div class="clearfix star-rating" data-score=<%= review.rating %></div>
          <%=review.comment %>
        </td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <%end%>
